html { 
	overflow-y: scroll; /* non stantard, ma supportata da IE e FF */
} 
body {
	font-family: 'Trebuchet MS', Verdana, Arial, Helvetica, sans-serif;
	font-size: small;
	background: white url(/images/odp_database/logosfondo.png) no-repeat center center fixed;
	color: black;
	margin: 0;
	padding: 1em 0; 
}
body * {
	line-height: 1.3em; 
}
abbr, acronym {
	cursor: help;
	border-bottom: 1px dotted blue; 
}
h1 { 
	text-align:center;
}
h1#titolo {
	margin-top: 1em;
}
a:link, a:visited {
	text-decoration: none; 
}
a:link:hover, a:visited:hover {
	text-decoration: underline;
	color: #CC0000; 
}
a:link img, a:visited img {
	border: none;
	vertical-align: middle;
}

div#pagina { 
	width: 60em;
	margin: 0 auto; /* centrato */
	position: relative;
	padding: 1px; 
}
input.t, input.btn, select, textarea { 
	border:1px solid #a0a0a0; 
	font-size: 1.1em; 
}
.clr { 
	clear: both; 
}
fieldset { 
	padding: 0.35em 0.625em 0.75em 0.625em; 
}
.box_errore {
	font-size: medium;
	border: thin dotted yellow;
	background-color: red;
	color: white;
	padding: 0.5em; 
}
*.ak { /* shortcut da tastiera */
	text-decoration: underline;
	color: #660000;
}
*.sx {
	float: left;
	margin-right: 1.0em; 
}
.dx	{
	float: right; 
}
.angolo {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
}
.logout {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
}