{% autoescape off %}
Gentile 
{% if user.first_name %}
    {{ user.first_name }} {{user.last_name}},
{% else %}
    Utente,
{% endif %}

E' stato chiesto un recupero delle credenziali.
{% if multi_account %}
    Pare che questo indirizzo email sia associato a più utenti. Le saranno inviate più email, una per ogni account.
{% endif %}

nome utente:{{user.username}} 
Link per resettare la password: 
{# https://odp.santannapisa.it{% url 'odp_app:reset-password-confirm' uid_b64=uid_b64 token=token %}  # TODO #}
http://odp.santannapisa.it{% url 'odp_app:reset-password-confirm' uid_b64=uid_b64 token=token %}
La vecchia password è ancora valida: se non vuole resettarla, basta non aprire il link.

{% endautoescape %}
