body {
	color: #000099; }
.sx {
	margin: 0 }
.clr {
	margin-bottom: -1.5em; }
h1, h2, h3, h4 { 
	color: black; }
h2, h3, h4 { 
	margin: 0.5em auto; }
h2 {
	font-size: large; }
h3 {
	font-size: medium; }
h4 {
	font-size: small; }
p.links { 
	margin: 0em; }
td, th { 
	vertical-align: top;
	padding: 0.3em; }
th { 
	text-align: right;
	padding-right: 0.5em;
	font-weight: normal; }
td, .dato {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: black; }
ul {
	margin: 0.5em 0;
	padding: 0;
	list-style-type: disc; }
td ul {
	margin: 0; }
.inv_temporanea ul {
	white-space: nowrap; }
li {
	margin-left: 1.5em; }
li.indentato {
	list-style: none;
	margin-left: 5em; }
img.icona {
	vertical-align: middle;
	border: none;
	background-color: inherit; }
img#martello {
	margin-right: 0.5em;
}
.half {
	width: 45%; }
table {
	margin: 0.5em 0; }
div.box { 
	border: 1px dashed #0000ff;
	margin: 1.5em 0;
	padding: 0.5em 1em;
	background-color: #dfdfff; }
div.box div.box { 
	background-color: #eeeeff; }
div#totali {
	border: 2px outset #ffdfdf;
	margin: 0 1em 1em 1em; 
	padding: 0.5em 1em;
	background-color: #ffdfdf;
	position: absolute;
	right: 0; }
div#box_ocr {
	border: 1px dashed #FF9966;
	clear: both;
	margin: 1.5em 0;
	padding: 0.5em 1em;
	background-color: #FFFFEE;
	color: #333333; }
p#sentenza a {
	background-color: #FFFF99;
	border: 3px #FFFF99 outset;
	display: inline-block;
	padding: 0.6em 1.5em;
	font-weight: bold; }
p#nosentenza span {
	color: #666666;
	background-color: #DDDDDD;
	border: 3px #DDDDDD outset;
	display: inline-block;
	padding: 0.6em 1.5em; }
p#sentenza a, p#nosentenza span {
	white-space: nowrap; }
p#sentenza a:link {
	text-decoration: none; }
p#sentenza a:hover {
	text-decoration: underline;
	color: #FF6600; }
ul.materiali {
	margin: 1em 0 -0.5em 0; }
ul.materiali li {
	vertical-align: middle;
	height: 40px; }
ul.materiali span {
	display: inline-block;
	vertical-align: middle;
	color: #666666; }
