table { width: 100%; }
img { border: 0; }
h2 { 
	font-size: medium;
	margin: 0; }
caption { 
	border: 1px solid #72A6FF;
	background-color: #C3DBFF;
	font-weight: bold;
	font-size: medium;
	padding: 0.4em; }
td {
	border: 1px solid #72A6FF;
	padding: 0 1em;
	height: 29px;
	vertical-align: middle;
	background: white url(/images/odp_database/logosfondo-chiaro.png) center center no-repeat fixed;
}
td.p { /* immagine per pubblicabile o no */
	padding: 0 2px;
	width:15px; }
td.i { /* sentenze: immagine tick per file presente */
	padding: 0 2px;
	width:25px; }
td.m { /* danneggiato: maschio */
	color:#3333FF;
	text-align: right; }
td.f { /* danneggiato: femmina */
	color:#FF33FF;
	text-align: right; }
td.n { /* danneggiato: sesso sconosciuto */
	color:#CC0000;
	text-align: right; }
a.toggle {
	float: right;
	margin: 0.1em;
	font-weight: bold; }
div#legenda {
	background-color: #EEFFEE;
	color: black;
	border: 1px solid #66DD66;
	padding: 0.2em 0.4em;
	margin-bottom: 1em; }
div#legenda dl {
	margin: 0.5em 0 0; }
dt {
	font-weight: bold; 
	color: #990000 }
