<!DOCTYPE html>
<html lang="it">

{% load static %}

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Database Osservatorio sul Danno alla Persona - {% block titolo %}LIDER-Lab{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{% static "odp_app/css/comune.css" %}">
	{% block head %}{% endblock %}
</head>

<body>
	<div id=" pagina">

		{% block titolo_html_h1 %}<h1 id="titolo">{% block titolo_html %}Database Osservatorio sul Danno alla
			Persona{% endblock %}</h1>{% endblock %}
		{# TODO IL LINK AL LEEDERLAB #}
		<p class="angolo">
			<a href="https://www.lider-lab.sssup.it/lider/"><img alt="Home" width="20" height="20" src="{% static 'odp_app/images/home.gif' %}" />
				LIDER-Lab Homepage
			</a>
			| 
			<a href="{% url 'odp_app:home' %}">
				ODP homepage
			</a>
			{% block topleft %}{% endblock %}
		</p>
		{% block logout %}
			{% if user.is_authenticated %}
				<p class="logout">
				{{ user.username }} | 
					<a href="{% url 'odp_app:logout' %}">
						<img alt="Logout" width="20" height="20" src="{% static 'odp_app/images/exit.gif' %}" /> {# TODO MA PERCHE sta immagine #}
						Esci dalla banca dati
					</a>
				</p>
			{% else %}
				{# MA PERCHE TODO è orribile..... #}
				<p class="logout">
					<a href="#" onclick="javascript:window.close(); return false;">
						<img alt="Logout" width="20" height="20" src="{% static 'odp_app/images/exit.gif' %}" />
						Chiudi la finestra
					</a>
				</p>
			{% endif %}
		{% endblock %}

		{% block pagina %}{% endblock %}
	</div>
</body>

</html>