{% extends "odp/_base.html" %}
{% load static %}

{% block titolo %}Login{% endblock %}
{% block titolo_html_h1 %}{% endblock %}


{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'odp_app/css/login.css' %}" />
<!--[if lte IE 6]><style type="text/css">div#form {height: 1%}</style><![endif]-->
{% endblock %}


{% block pagina %}

{% if messages %}
{{messages.errors}}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}


<div id="messaggio">
	<h1>&Egrave; necessario autenticarsi</h1>

	<p>
		Il login e logout da questo sistema di database avvengono indipendentemente da quelli del sito del LIDER-Lab, ma la procedura di registrazione &egrave; una sola.
		Utilizza gli stessi dati della tua registrazione al nostro sito.
	</p>
	{% if messages %}
		<div class="box_errore">
			<ul class="messages">
				{% for message in messages %}
					<li>{{ message }}</li>
				{% endfor %}
			</ul>
		</div>	
	{% endif %}
	
	<div id="form">
		<form method="post" action="">
			{% csrf_token %}
			<p>
				<label for="username">Username: </label>
				<input type="text" class="form-control form-control-user" id="username" name="username" aria-describedby="emailHelp" placeholder="Nome utente">
			</p>
			<p>
				<label for="password">Password: </label>
				<input type="password" class="form-control form-control-user" id="password" name="password" placeholder="Password">
			</p>
			<p id="btn"><input type="submit" value="Conferma" />
			{% comment%}
			<input type="hidden" name="next" value="{{ next }}" /></p>
			{% endcomment %}
		</form>
	</div>
	<p>
		Non sei ancora registrato al nostro sito? <a href="{% url 'odp_app:signup' %}">Registrati adesso!</a><br/>
		Hai perso la tua password? <a href="{% url 'odp_app:reset-password' %}">Clicca qui per ottenerne una nuova.</a><br/>
		Hai perso il tuo username? <a href="/lider/component/user/remind.html">Clicca qui per fartelo spedire.</a>
	</p>
</div>
{% endblock %}
